body {
    align-items: center;
    font-family: Arial;
}

#post {
    border: 1px solid #333;
    padding: 30px;
}

.titulo {
    font-size: 35px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}