body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background-image: url("../images/nubes.jpeg");
    height: 100vh;
    background-size: cover;
}

#post {
    border: 1px solid darkgreen;
    border-radius: 20px;
    width: 750px;
}

#header {
    display: flex;
    align-items: center;
    background-color: darkgreen;
    padding-left: 25px;
    height: 65px;
    color: #C7E8CA;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 0px;
}

#header h1 {
    margin-right: 15px;
    font-size: 40px;
}

.motto {
    margin: 22px 120px 0px 0px;
}

.buttons {
    font-size: 14px;
}

.title {
    font-size: 35px;
    border-bottom: 1px solid #333;
    width: 700px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 30px 20px;
    color: #333;
    background-color: azure;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    border-radius: 0px 0px 20px 20px;
    padding: 8px;
}

.link {
    color: #beff4e;
    font-size: 14px;
    margin: 0px 0px 0px 6px;
}

img {
    width: 30px;
    margin: 0px;
}