/* GENERAL */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background-image: url("../images/nubes.jpeg");
    background-size: cover;
}

/* POST */
#post {
    border: 1px solid darkgreen;
    border-radius: 20px;
    width: 70%;
    overflow: hidden;
}

/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgreen;
    padding: 0px 25px 0px 25px;
    height: 65px;
    color: #C7E8CA;
    margin-bottom: 0px;
}
#header h1 {
    margin-right: 15px;
    font-size: 40px;
}
#header > div {
    display: flex;
    align-items: center;
}
#header > div p:nth-child(2) {
    margin: 20px 0px 0px 0px;
}
#header p:nth-child(3) {
    font-size: 14px;
}

/* CONTENT */
#content {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 30px 20px;
    color: #333;
    background-color: azure;
}
#content h1 {
    font-size: 35px;
    border-bottom: 1px solid #333;
    text-align: center;
    padding-bottom: 20px;
}
#content h2 {
    margin: 0;
}

/* FOOTER */
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    padding: 8px;
}
#footer a {
    color: #beff4e;
    font-size: 14px;
    margin: 0px 0px 0px 6px;
}
#footer img {
    width: 30px;
    margin: 0px;
}

/* RESPONSIVE */
@media(max-width:970px) {
    .inactive-level1 {
        display: none;
    }
}
@media(max-width:657px) {
    .inactive-level2 {
        display: none;
    }
}
@media(max-width:563px) {
    #header h1 {
        font-size: 28px;
    }
}